<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, inital-scale=1"/>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/img/favicon.svg') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap.css') }}">


        <title>
            {% block title %}{% endblock %}
        </title>
        
    </head>
    <body class="bg-light">
        <div class="wrapper">

            <div class="main-panel w-75 mx-auto">

                {% include "includes/navigation.html" %}

                {% block content %}{% endblock content %}

                {% include "includes/footer.html" %}

            </div> 
        </div>
    
        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
    </body>
</html>