<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="author" content="SitePoint">
		<meta name="description" content="Page Description">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{% block title %}{% endblock %}</title>

		<link rel="icon" href="{{ url_for('static', filename='img/favicon.svg') }}" type="image/svg+xml">
		<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/layouts/layout.css') }}"> -->

		{% assets "layout_css" %}
			<link rel="stylesheet" href="{{ ASSET_URL }}">
		{% endassets %}

		{% block stylesheet %}{% endblock %}
	</head>
	<body>
		{% assets "jquery_lib" %}
			<script type="text/javascript" src="{{ ASSET_URL }}"></script>
		{% endassets %}
		{% block content %}{% endblock %}
	</body>
</html>