<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, inital-scale=1"/>
        <link rel="shortcut icon" href="{{ url_for('static', filename='assets/img/favicon.ico') }}"/>
        
        {% assets "base_css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}"/>
        {% endassets %}

        {% assets "base_js" %}
            <script type="text/javascript" scr="{{ ASSET_URL }}"></script>
        {% endassets %}

        {% block assets %} 
        {% endblock %}

        <title>
            {% block title %}
            {% endblock %}
        </title>
        
    </head>
    <body>
        <div class="container-fluid h-100">
            {% block content %} 
                
            {% endblock %}
        </div>
    </body>
</html>