{% extends "base.html" %} 

{% block title %}
	Vote for your cause!
{% endblock %} 

{% block assets %}
	{% assets "index_css" %}
		<link rel="stylesheet" href="{{ ASSET_URL }}"/>
	{% endassets %}
{% endblock %}

{% block content %}
	<div class="container d-flex h-100 p-3 mx-auto flex-column text-dark">

		<div class="inner text-center container-main">
		
				<h1 class="display-3">
					Make a change,
				</h1>
				
				<h1 class="display-4">
					vote for your cause!
				</h1>

				<form class="form-group" action="/room/join" method="post">
					<input type="text" id="room"
						class="form-control-lg mt-5 text-center w-d" 
					>
				</form>


				<p>
					By using our services you agree to the 
					<a href="/terms-of-service" class="text-primary text-decoration-none">
						terms of service.
					</a>
				</p>
				
		</div>
		<div class="mastfoot text-center mt-auto">
			<p class="">
				<small>
					Create your own room, 
					<a href="/" class="text-primary text-decoration-none">
						here!
					</a>
				</small>
			</p>
		</div>
	</div>

	{% assets "index_js" %}
		<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
{% endblock %}