/* Input group */
.input-group {

	/* Display proporties */
	height: 2rem;
	width: 20rem;
	
	margin: 0 auto;
	display: flex;
	
	/* Visual proporties */
	background: none;
	border: 2px solid #000000;
	border-radius: 2rem;
}
.input-group .form-control {

	/* Display proporties */
	height: 100%;
	width: 100%;
	padding-left: 2rem;
	margin: auto auto;

	/* Font proporties */
	font-family: "Open sans";
	font-size: 1.5rem;
	
	/* Visual proporties */
	border: none;
	background: none;
	color: #000000;
}
.input-group .form-control:focus {

	/* Visual proporties */
	outline: none;
}
.input-group .form-control::placeholder {

	/* Visual proporties */
	color: #000000;
}
.input-group .button {

	/* Display proporties */
	margin: auto 2rem auto 0;
	width: 2.5rem;
	height: 2.5rem;

	/* Font proporties */
	font-family: 'Material Icons';
	font-size: 2rem;

	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	
	/* Visual proporties */
	background: none;
	border: none;
	border-radius: 8rem;
	transition: 0.2s ease-out;
}
.input-group .button:hover {

	/* Display proporties */
	
	
	/* Font proporties */
	
	
	/* Visual proporties */
	
}