@font-face {
	font-family: "Material Icons";
	src: url("/static/fonts/MaterialIcons.ttf");
}

@font-face {
	font-family: "Montserrat";
	src: url("/static/fonts/Montserrat.ttf");
}

@font-face {
	font-family: "Open Sans";
	src: url("/static/fonts/OpenSans.ttf");
}