@font-face {
	font-family: "Material Icons";
	src: url("../../fonts/MaterialIcons.ttf");
}

@font-face {
	font-family: "Montserrat";
	src: url("../../fonts/Montserrat.ttf");
}

@font-face {
	font-family: "Open Sans";
	src: url("../../fonts/OpenSans.ttf");
}