.container {

}

.container .backdrop {
	/* Display proporties */
	width: 100%;
	height: 100%;
	position: absolute;

	/* Position proporties */
	top: 0%;
	left: 0%;
	z-index: -1;

	/* Font proporties */
	
	
	/* Visual proporties */
	overflow: hidden;

	/* background-image: url('../img/backdrop.png'); */
	background-size: cover !important;
	background-position: center !important;
}

.container .input-group {
	/* Display proporties */
	display: flex;
	
	/* Font proporties */
	
	
	/* Visual proporties */
	border: 2px black solid;
	border-radius: 2rem;
}

.container .input-group span {
	/* Display proporties */
	
	
	/* Font proporties */
	font-family: 'Material Icons'
	
	/* Visual proporties */
	
}

.container .input-group .form-control {
	/* Display proporties */
	width: 80%;
	height: 3rem;
	margin: auto;

	/* Font proporties */
	font-family: 'Open sans';
	font-size: 2rem;
	
	/* Visual proporties */
	background: none;
}

.container .input-group .form-control::after {
	/* Display proporties */
	
	
	/* Font proporties */
	font-family: 'Material Icons';
	
	/* Visual proporties */
	content: "search";
}