.wrapper {
	/* Display proporties */
	display: grid;
	width: 100%;
}

.nav {
	/* Display proporties */
	display: flex;
	justify-content: space-between;
	height: 5rem;

	/* Visual proporties */
	background-color: #202124;
}

.nav .nav-group {
	/* Display proporties */
	padding: 0 3rem;
}

.collapse-menu {
	/* Display proporties */
	display: none;
	position: absolute;
	margin-top: 5rem;
	width: 100%;
}

.nav .nav-group .nav-display a {
	/* Font proporties */
	font-family: "Montserrat";
	font-size: 1.8rem;
	font-weight: 400;

	/* Visual proporties */
	color: #ffffff;
	text-decoration: none;
	transition: 0.2s ease-out;
}

.nav .nav-group .nav-display a:hover {
	/* Display proporties */
	
	
	/* Font proporties */
	
	
	/* Visual proporties */
	color: #9aa0a6;;
	transition: 0.2s ease-out;
}

.nav .nav-group .btn-menu {
	/* Display proporties */
	height: 100%;
	display: none;
	justify-content: center;
}

.nav .nav-group .btn-menu #btn-check {
	/* Display proporties */
	display: none;
}

.nav .nav-group .static-menu {
	/* Display proporties */
	height: 100%;
	display: flex;

	/* Font proporties */
	
}

.nav .nav-group .static-menu a {
	/* Display proporties */
	margin: auto 0.8rem;
	width: fit-content;

	/* Font proporties */
	font-family: "Open sans";
	text-decoration: none;
	font-size: 1rem;
	
	/* Visual proporties */
	color: #9aa0a6;
	transition: all 0.2s ease-out;
}

.nav .nav-group .static-menu a:hover {

	/* Visual proporties */
	color: #ffffff;
	transition: 0.2s ease-out;
}

@media only screen and (max-width: 650px) {

	.nav {
		/* Display proporties */
		justify-content: space-around;
	}

	.nav .nav-group {
		/* Display proporties */
		padding: 0 1rem !important;
	}

	.nav .nav-group .btn-menu .btn-icon {
		/* Display proporties */
		display: flex;
	}

	.nav .nav-group .btn-menu .btn-icon i {
		/* Display proporties */
		height: 2.5rem;
		width: 2.5rem;
		margin: auto;
	
		/* Font proporties */
		font-family: "Material Icons";
		font-style: normal;
		font-size: 2rem;
		font-weight: 400;	
	
		text-align: center;
	
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		cursor: pointer;
	
		/* Visual proporties */
		color: #9aa0a6;
		border-radius: 50%;
	}

	.nav .nav-group .btn-menu {
		/* Display proporties */
		display: flex;
	}


	/* Collapse menu button css */
	.nav .nav-group .btn-menu .btn-icon i {
		/* Visual proporties */
		transition: 0.2s ease-out;
	}

	.nav .nav-group .btn-menu .btn-icon i:hover {
		/* Visual proporties */
		color: #ffffff !important;
		background-color: #ffffff10;
		transition: 0.2 ease-out;
	}

	.nav .nav-group .btn-menu #btn-check:checked + .btn-icon > i:hover {
		/* Visual proporties */
		color: #ffffff !important;
	}
	
	.nav .nav-group .btn-menu #btn-check:checked + .btn-icon > i {
		/* Visual proporties */
		color: #BABBBE !important;
		background-color: #ffffff15;
	}	

	.nav .nav-group .btn-menu #btn-check:not(:checked) + .btn-icon > i::before {
		/* Display proporties */
		margin: auto;
		
		/* Font proporties */
		content: "menu";
	}
	
	.nav .nav-group .btn-menu #btn-check:checked + .btn-icon > i::before {
		/* Display proporties */
		margin: auto;
		
		/* Font proporties */
		content: "close";
	}

	.nav .nav-group .static-menu {
		/* Display proporties */
		display: none;
	}


	/* Collapse menu css */
	.collapse-menu {
		/* Display proporties */
		display: none;
		flex-direction: column;
		padding: 2rem 0 2rem 0;
		
		/* Font proporties */
		font-family: "Open sans";
		text-align: center;
		
		/* Visual proporties */
		color: #9aa0a6;
		background-color: #1E2323;
	}

	.collapse-menu a {
		/* Display proporties */
		width: fit-content;
		margin: auto;
		margin-bottom: 2rem;
		padding: 0.2rem 0;
	
		/* Font proporties */
		font-family: "Open sans";
		font-size: 1.8rem;
		text-decoration: none;
		
		/* Visual proporties */
		color: #9aa0a6;
		border-radius: 4px;
		transition: 0.35s ease-out;
	}

	.collapse-menu a:hover {
		/* Display proporties */
		padding: 0.2rem 0.7rem;

		/* Visual proporties */
		color: #ffffff;
		background-color: #ffffff10;
		transition: 0.35s ease-out;
	}
}

@media only screen and (max-width: 700px) {

	.nav .nav-group {
		/* Display proporties */
		padding: 0 2rem !important;
	}
}