.wrapper {
	/* Display proporties */
	display: grid;
	width: 100%;
}

.nav {
	/* Display proporties */
	display: flex;
	justify-content: space-between;
	height: 5rem;

	/* Visual proporties */
	background-color: var(--color-navbar-secondary);
	box-shadow: 0px 1px 13px 1px rgba(0, 0, 0, 0.623);
}

.nav .nav-group {
	/* Display proporties */
	padding: 0 3rem;
}

.collapse-menu {
	/* Display proporties */
	display: none;
	position: absolute;
	margin-top: 5rem;
	width: 100%;
}

.nav-display a {
	/* Font proporties */
	font-family: "Open sans";
	font-size: 1.8rem;
	font-weight: 400;

	/* Visual proporties */
	color: var(--color-text-navbar-default);
	text-decoration: none;
	transition: 0.2s ease-out;
}

.nav-display a:hover {
	/* Visual proporties */
	color: var(--color-base-primary);
	transition: 0.2s ease-out;
}

.btn-menu {
	/* Display proporties */
	height: 100%;
	display: none;
	justify-content: center;
}

.btn-menu #btn-check {
	/* Display proporties */
	display: none;
}

.static-menu {
	/* Display proporties */
	height: 100%;
	display: flex;
}

.static-menu a {
	/* Display proporties */
	margin: auto 0.8rem;
	width: fit-content;

	/* Font proporties */
	font-family: "Open sans";
	text-decoration: none;
	font-size: 1.15rem;
	white-space: nowrap;
	
	/* Visual proporties */
	color: var(--color-base-white);
	transition: all 0.2s ease-out;
}

.static-menu a:hover {

	/* Visual proporties */
	color: var(--color-base-primary);
	transition: 0.2s ease-out;
}

@media only screen and (max-width: 650px) {

	.nav {
		/* Display proporties */
		justify-content: space-around;
	}

	.nav-group {
		/* Display proporties */
		padding: 0 1rem !important;
	}

	.btn-menu {
		/* Display proporties */
		display: flex;
	}

	.btn-menu .btn-icon {
		/* Display proporties */
		display: flex;
	}

	.btn-menu .btn-icon i {
		/* Display proporties */
		height: 2.5rem;
		width: 2.5rem;
		margin: auto;
	
		/* Font proporties */
		font-family: "Material Icons";
		font-style: normal;
		font-size: 2rem;
		font-weight: 400;	
	
		text-align: center;
	
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		cursor: pointer;
	
		/* Visual proporties */
		color: var(--color-base-white);
		border-radius: 50%;
		transition: 0.2s ease-out;
	}

	.btn-menu .btn-icon i:hover {
		/* Visual proporties */
		color: var(--color-base-primary) !important;
		transition: 0.2 ease-out;
	}

	.btn-menu #btn-check:checked + .btn-icon > i {
		/* Visual proporties */
		background-color: #ffffff0c;
		color: var(--color-base-taint) !important;
		transition: 0.2 ease-out;
	}	

	.btn-menu #btn-check:checked + .btn-icon > i:hover {
		/* Visual proporties */
		color: var(--color-base-primary) !important;
	}

	.btn-menu #btn-check:not(:checked) + .btn-icon > i::before {
		/* Font proporties */
		content: "menu";
	}
	
	.btn-menu #btn-check:checked + .btn-icon > i::before {		
		/* Font proporties */
		content: "close";
	}

	.static-menu {
		/* Display proporties */
		display: none;
	}

	/* Collapse menu css */
	.collapse-menu {
		/* Display proporties */
		display: none;
		flex-direction: column;
		padding: 2rem 0 2rem 0;
		
		/* Font proporties */
		font-family: "Open sans";
		text-align: center;
		
		/* Visual proporties */
		background-color: var(--color-navbar-secondary);
	}

	.collapse-menu a {
		/* Display proporties */
		width: fit-content;
		margin: auto;
		margin-bottom: 2rem;
		padding: 0.2rem 0;
	
		/* Font proporties */
		font-family: "Open sans";
		font-size: 1.8rem;
		text-decoration: none;
		
		/* Visual proporties */
		color: var(--color-base-white);
		border-radius: 4px;
		transition: 0.35s ease-out;
	}

	.collapse-menu a:hover {
		/* Display proporties */
		padding: 0.2rem 0.7rem;

		/* Visual proporties */
		color: var(--color-base-primary);
		transition: 0.35s ease-out;
	}
}

@media only screen and (max-width: 700px) {

	.nav-group {
		/* Display proporties */
		padding: 0 2rem !important;
	}
}