{% extends "layouts/layout.html" %}

{% block title %}Izveido{% endblock %}

{% block stylesheet %}
	{% assets "create_css" %}
		<link rel="stylesheet" href="{{ ASSET_URL }}">
	{% endassets %}
{% endblock %}

{% block content %}

	{% include 'modules/header.html' %}

	<form action="/session/create" method="POST">

		<input type="text" name="room" placeholder="room"/>
		<input type="text" name="title" placeholder="title"/>
		<input type="text" name="password" placeholder="password"/>
		<input type="number" name="tokens" placeholder="token count"/>

		<input type="submit" value="Go!">

	</form>

{% endblock %}