{% extends "layouts/layout.html" %}

{% block stylesheet %}
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/index.css') }}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
	<div class="container">
		
		<div class="backdrop"></div>

		<div class="card">

			<h2>
				Tava iespēja veicināt izmaiņas!
			</h2>

			<form class="input-group" action="/public/">
				<input type="text" id="form" class="form-control" placeholder="Istabiņas žetons">
				<label class="icon" for="form">search</label>
			</form>
		</div>

		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/submit.js') }}"></script>
	</div>
{% endblock %}