<!DOCTYPE html>
{% extends "layouts/layout.html" %}

{% block stylesheet %}
	{% assets "index_css" %}
		<link rel="stylesheet" href="{{ ASSET_URL }}">
	{% endassets %}
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
	{% include 'modules/header.html' %}
	<div class="container">
		
		<div class="backdrop"></div>

		<div class="card">

			<h2>
				Tava iespēja veicināt izmaiņas!
			</h2>

			<div class="input-group">
				<input type="text" id="form-control" class="form-control" placeholder="Istabiņas žetons">
				<label class="icon" for="form-control">search</label>
				{% if wrong == True %}
					<span>Incorrect room</span>
				{% endif %}
			</div>
		</div>

		{% assets "submit_js" %}
			<script type="text/javascript" src="{{ ASSET_URL }}"></script>
		{% endassets %}
	</div>
{% endblock %}